.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #6ad05e;
}

.square {
    width: 80px;
    height: 80px;
    background: rgb(237, 125, 198);
     transition: transform 0.3s;
}

.square:hover {
    transform: translateX(60px);
}